* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #3e3e3e;
  user-select: none;
}

.App {
  height: 100vh;
  padding-top: 7px;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  height: 40px;
}

.contenedor-calculadora {
  width: 400px;
  height: auto;
  padding: 14px;
  background-color: aqua;
  border-radius: 15px;
  border: 5px solid whitesmoke;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}